<?xml version="1.0" encoding="utf-8"?>
<!--
    @author Lars Harmsen
    Copyright (c) <2014> <Lars Harmsen - Quchen>
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quchen.flappycow">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        
        <!-- For Google Play Services -->       
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Game"
            android:label="@string/app_name"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.quchen.flappycow.Game" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".About"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.quchen.flappycow.About" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        
    </application>

</manifest>